@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

.shepherd-theme-custom {
  background-color: var(--chakra-colors-brand-accent);
  border: #f1f4f2 4px solid;

  .shepherd-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    background-color: #7cd0c2;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .shepherd-text {
    color: #f1f4f2;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .shepherd-header {
    /* background-color: var(--chakra-colors-brand-background) !important; */
    background-color: var(--chakra-colors-brand-text) !important;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .shepherd-title {
    /* color: #f1f4f2 !important; */
    color: var(--chakra-colors-brand-background) !important;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .shepherd-arrow::before {
    background-color: var(--chakra-colors-brand-accent);
  }

  .shepherd-arrow::after {
    background-color: var(--chakra-colors-brand-accent);
  }
}
