@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  /* min-height: 100%; */
  height: 100%;
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  color: #2b1c50;
  background-color: #93BEDF;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.col + .col {
  margin-left: 30px;
}

.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.peer-connection {
  margin: 0 auto;
}

.hero {
  width: 70%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.id-management {
  background-color: #84A07C;
  padding: 0.5em;
  border-radius: 5px;
}

.peer-id {
  margin-left: 0.5em;
  color: white;
  background-color: #BDA0BC;
  border-radius: 4px;
  padding: 0.15em;
}

.text-options {
  display: flex;
  justify-content: start;
  /* margin: 0.5em 0; */
}

#create-id {
  background-color: #565add;
}

.editor {
  margin: 0.5em 0;
}

#file-picker {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.btn, .custom-file-upload {
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;

  cursor: pointer;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1em;
}

.chat-input {
  border: black solid 2px;
  height: 7%;
  border-radius: 15px;
  margin-top: auto;
  font-size: 1rem;
  padding:  0.5em;
}

h1 {
  text-align: center;
}

#chat-history {
  border-radius: 20px;
  background-color: #A2708A;
  height: 100%;
  margin-bottom: 0.5em;
}

#chat-history>p {
  max-width: 70%;
}