@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Train+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* disable selecting any text */
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.outer-container {
  flex-direction: column;
  height: 5%;
}

.flex {
  display: flex;
}

.heading {
  width: 100%;
  font-family: "Lobster", cursive;
  font-family: "Train One", cursive;
  color: var(--chakra-colors-brand-primary);
  margin: 0em;
  text-align: start;
  font-size: 1.8rem;
}

.heading-standout {
  color: var(--chakra-colors-brand-accent);
}

.navbar > * {
  padding: 0.5em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.content {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.text-options {
  display: flex;
  flex-wrap: wrap;
}

.container {
  flex-direction: column;
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.peer-connection {
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}

#id-input {
  border-radius: 6px;
}

.connection-container {
  height: 100%;
}

.peer-id-display {
  width: 50%;
  height: 100%;
  margin-left: 1em;
}

#id-disp-title {
  font-size: 1.5rem;
  /* make the font bold */
  font-weight: bold;
  text-align: center;
  color: var(--chakra-colors-brand-text);
}

.local-peer-display {
  margin: 1em 0;
}

.peer-label {
  max-width: 110px;
}

.remote-peer-display {
  margin-top: 1em;
  display: flex;
}

/* Chat Section */

.sidebar {
  display: flex;
  flex-direction: column;
}

.file-input-container {
  margin-bottom: 1em;
  max-height: 20%;
}

.send-all {
  width: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 500px;
}

#msg-history-label {
  padding: 1em;
  text-align: center;
}

.message {
  padding: 0.5em;
  margin-left: 0.7em;
  width: fit-content;
  min-width: 20%;
  max-width: 80%;
  border-radius: 10px;
}

#chat-history {
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  margin-bottom: 0.5em;
  background-color: var(--chakra-colors-brand-secondary);
}

#chat-history > p {
  max-width: 70%;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.id-management {
  padding: 0.5em;
  border-radius: 5px;
  font-weight: bold;
}

.remote-inp-container {
  flex-direction: column;
}

.peer-id {
  background-color: var(--chakra-colors-brand-accent);
  color: var(--chakra-colors-brand-background);
  font-weight: 400;
  border-radius: 4px;
  padding: 0.4em;
  margin-left: 0.5em;
}

.peer-label {
  margin: 0.5em 0;
  width: 25%;
}

.editor {
  margin: 0.5em 0;
}

#file-picker {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
}

.btn,
.custom-file-upload {
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: var(--secondary-color);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  cursor: pointer;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

.disable-button {
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .hero {
    width: 100%;
  }

  .chat {
    display: none;
  }
}

@media screen and (max-width: 645px) {
  #id-input {
    width: 100%;
  }
  .peer-label {
    width: 100%;
  }

  .remote-peer-display,
  .local-peer-display {
    flex-direction: column;
    margin: 0.5em 0;
  }

  .remote-peer-display {
    margin-bottom: 0;
  }
  .peer-id {
    margin: 0;
    /* margin-top: 0.5em; */
    text-align: center;
    font-size: 0.8rem;
  }

  #id-disp-title {
    font-size: 1.2rem;
  }
}
